.footer {
  display: flex;
  justify-content: space-between;
  column-gap: 4rem;
  .flex-item {
    flex: 1 1 0;
  }

  .slogan {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #aeaeae;
  }

  .social--contact {
    display: flex;
    width: 100%;

    svg {
      margin-right: 0.5rem;
    }
  }

  .footer--label {
    margin-bottom: 1rem;
  }

  .footer--content {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  /* tablet */
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    .flex-item {
      flex: 0;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      width: 50vw;
    }
  }
}
