.tour--information {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}

.tour--information {
}

.tour--information__lightBox {
  position: relative;
  flex: 1;
  .numberOfTour {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 1rem;
    right: 1rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);

    z-index: 1;
    padding: 0.5rem 1rem;
  }
}
.tour--information__general {
  flex: 1;
  h3 {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 1rem;

    color: #313131;
  }

  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin: 1rem 0;
    /* Grey */

    color: #aeaeae;
  }

  .location {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: 2rem 0;
    /* identical to box height */

    /* Grey */

    color: #aeaeae;
  }
}

//BOOK TOUR
.booktour--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input--section,
.input {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
}

.input--section {
  flex-direction: row;
  margin: 2rem 0;
}

.input {
  flex-direction: column;
  justify-content: flex-start;
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    gap: 0.5rem;
    color: #313131;
    margin-bottom: 1rem;
    img {
      width: 36px;
      height: 36px;
    }
  }
}

// DATE PICKER

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
  text-align: center;
  max-height: 30px;
  min-height: 30px;
}

//DATE PICKER

.numberGuest--input {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    border: none;
    background-color: transparent;
  }
}

//DETAIL INFORMATION
.button--section {
  padding: 2rem;
}

.tour--information__detail {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recentViewed--container {
}
.recommend--container {
}
.detail.padding-area {
}

@media screen and (max-width: 700px) {
  .tour--information__general {
    h3 {
      font-size: 32px;
    }
    p {
      margin: 0;
      font-size: 16px;
    }

    .location {
      margin: 1rem 0;
      font-size: 16px;
    }
  }

  .input--section {
    margin: 0;
  }

  .input--section label {
    font-size: 16px;
  }
  button {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .tour--information {
    flex-direction: column;
  }
}
