.tour--information__detail {
  width: 100%;
}
.button--section {
}
.content {
  width: 100%;
  padding: 2rem;
  box-shadow: 0px 4px 45px -15px rgb(0 0 0 / 15%);

  border-radius: 20px;
}

.introduction--container {
  display: flex;
  flex-direction: column;
}
.detail--container {
}

.introduction--item {
  //   display: flex;

  gap: 2rem;
  margin-bottom: 4rem;
  img {
    width: 50%;
    height: auto;
    border-radius: 10px;
  }

  &.even {
    img {
      float: left;
      margin-right: 1rem;
    }
  }

  &.odd {
    flex-direction: row-reverse;
    img {
      float: right;
      margin-left: 1rem;
    }
  }
}

.detail--item {
  display: flex;
  margin-bottom: 2rem;
  img {
    width: 50%;
    height: auto;
    margin-right: 1rem;
    border-radius: 10px;
  }
}

.place--infor {
  h1 {
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 24px;
    line-height: 34px;
  }
}
