.tour--information {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}

.tour--information {
}

.tour--information__lightBox {
  position: relative;
  flex: 1;
  height: 360px;
  .numberOfTour {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 1rem;
    right: 1rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);

    z-index: 1;
    padding: 0.5rem 1rem;
  }
}
.MuiGrid-item {
  height: 50%;
}

.MuiPaper-elevation,
.MuiGrid-container {
  height: 100%;
}

.MuiGrid-item {
  height: 50% !important;
}

.css-1idn90j-MuiGrid-root {
  height: 100% !important;
  button {
    height: 100%;
    img {
      height: 100%;
      background-position: center;
    }
  }
}

.tour--information__general {
  flex: 1;
  h3 {
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 1rem;

    color: #313131;
  }

  p {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin: 1rem 0;
    /* Grey */

    color: #aeaeae;
  }

  .location {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: 2rem 0;
    /* identical to box height */

    /* Grey */

    color: #aeaeae;
  }
}

//BOOK TOUR
.booktour--form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input--section,
.input {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
}

.input--section {
  flex-direction: row;
  margin: 2rem 0;
}

.input {
  flex-direction: column;
  justify-content: flex-start;
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    gap: 0.5rem;
    color: #313131;
    margin-bottom: 1rem;
    img {
      width: 36px;
      height: 36px;
    }
  }
}

// DATE PICKER

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
  text-align: center;
  max-height: 30px;
  min-height: 30px;
}

//DATE PICKER

.numberGuest--input {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    border: none;
    background-color: transparent;
  }
}
